# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Kotlin plugin data
.kotlin

# Ignore out directory
out

# Ignore build dirs
build
beta/build
stable/build
beta/.cxx
stable/.cxx
local.properties

# Ignore temporary flag manifests
allflags.json
complete_manifest_flags.json
dialer_flags.json

# Ignore log files
*.log

beta/module/system/priv-app/com.google.android.apps.pixel.psi158/split_config.arm64_v8a.apk
*.txt
